@model AgendaMedica.Models.Atencion
<h1>Editar Atenciones</h1>

<div>
    <form asp-action="Edit">
        <input type="hidden" asp-for="IdAte" />
        <div class="form-group">
            <label class="form-label">Nombre</label>
            <input type="text" class="form-control" asp-for="NombreAte" />
        </div>
        <div class="mt-3 text-end">
            <a asp-action="Index" class="btn btn-outline-info">Volver</a>
            <input type="submit" value="Editar" class="btn btn-outline-success" />
        </div>
    </form>
</div>
