@{
    ViewData["Title"] = "Home Page";
}

<div class="container d-flex align-items-center flex-column ">
    <div>
        <img src="~/images/44.jpg" class="img-fluid" alt="Responsive image"> 
    </div>
    <h1 class="masthead-heading  mb-5">Bienvenidos!</h1>
    <p class="masthead-subheading font-weight-light text-center ">Sistema | Agenda Clinica</p>
</div>
