@model AgendaMedica.Models.Prevision
@{
    ViewData["Title"] = "Ingresar Prevision";
}

<h1>Ingresar Previsión</h1>
<div>
    <form asp-action="Create" >

        <div class ="mb-3 mt-3">
            <label class="form-label">Nombre</label>
            <input type="text" id="prevision" class="form-control" asp-for="NombrePrev" />
        </div>
        <div class="mt-3 text-end">
            <input type="reset" value="Limpiar" onclick="FocusOnInput()" class="btn btn-info" />
            <a asp-action="Index" class="btn btn-outline-info">Volver</a>
            <input type="submit" value="Guardar" class=" btn btn-outline-success" />
        </div>
    </form>    
</div>

<script>
    function validar() {
        lostfocus('prevision')      
    }

    function lostfocus(idInput) {
        // error que se mostrara en caso de estar vacio el campo
        const msjError =
            '<span class = "badge bg-danger"> El campo es obligatorio </span>'
        // valida si el campo esta vacio o no
        if (document.getElementById(idInput).value.trim() == '')
            //sirve para agregar elementos a html por js
            document.getElementById('e' + idInput).innerHTML = msjError
            //document.getElementById("submit").disabled = true;
        else
            document.getElementById('e' + idInput).innerHTML = ''
           // document.getElementById("submitButton").disabled = false;
    }
    
    function FocusOnInput() {
        document.getElementById('prevision').focus();
    }
</script>