@model AgendaMedica.Models.Prevision

@{
    ViewData["Title"] = "Ingresar Prevision";
}

@if (TempData["Mensaje"] != null)
{
    <script>
        alert("@TempData["Mensaje"]");
    </script>
}

<h1>Ingresar Previsión</h1>
<div>
    <form asp-action="Create">

        <div>
            <label class="form-label">Nombre de la Previsión</label>
            <input type="text" class="form-control" asp-for="NombrePrev" id="prevision" onblur="lostfocus('prevision')" placeholder="Ingrese la Previsión" autocomplete="off" autofocus="on" />
            <div id="eprevision"></div>
        </div>
        <div class="mt-3 text-end">
            <a asp-action="Index" class="btn btn-outline-info">Volver</a>
            <input type="reset" value="Limpiar" onclick="FocusOnInput(); limpiar()" class="btn btn-info" />
            <input type="submit" value="Ingresar" class="btn btn-outline-success" />
        </div>
    </form>
</div>

<script>
    function validar() {
        lostfocus('prevision')
    }

    function lostfocus(idInput) {
        // error que se mostrara en caso de estar vacio el campo
        const msjError =
            '<span class = "badge bg-danger"> El campo es obligatorio </span>'
        // valida si el campo esta vacio o no
        if (document.getElementById(idInput).value.trim() == '')
            //sirve para agregar elementos a html por js
            document.getElementById('e' + idInput).innerHTML = msjError
        else
            document.getElementById('e' + idInput).innerHTML = ''
    }

    function limpiar() {
        console.log(document.querySelectorAll('input'))
        document.querySelectorAll('.form-control').forEach(item => {
            item.value = ''
        })
        document.querySelectorAll('span').forEach(item => {
            item.innerHTML = ''
        })
    }

    function FocusOnInput() {
        document.getElementById("prevision").focus();
    }
</script>
